.features {
  //background-color: $color-grey-light-2;
  grid-column: center-start / center-end;
  margin: 15rem 0;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start; //default value is 'strech'
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 8rem 0;
    grid-gap: 4rem;
  }
}

.feature {
  float: left;
  width: 33.33333%;
  margin-bottom: 6rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: $color-primary;
    grid-row: 1 / span 2;
    /*  grid-row: 1 / -1; doesn't work because -1 on;y works on explicit rows which specified by grid-template-rows */
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
