.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 0.5rem;
  justify-items: center;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 4vh;
    grid-column-gap: 2rem;
    align-items: center;
  }

  &__img {
    height: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    font-size: 1rem;
    color: $color-grey-light-2;
    text-transform: uppercase;
  }
}
